body { font-family: Arial; background:#f4f6f8; }
.container { width:90%; margin:40px auto; background:#fff; padding:20px; }
.date-row { display:flex; gap:20px; margin-bottom:20px; }
table { width:100%; border-collapse:collapse; }
th,td { border:1px solid #ccc; padding:8px; }
th { background:#007bff; color:#fff; }
.welcome-text {
    margin-bottom: 20px;
    color: #333;
}


/* ===== LOGIN PAGE ===== */

.login-body {
    background: linear-gradient(135deg, #007bff, #fefefe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;
    padding: 30px 35px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.login-card h2 {
    margin-bottom: 10px;
    color: #333;
}

.login-card p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-card input:focus {
    outline: none;
    border-color: #007bff;
}

.login-card button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-card button:hover {
    background: #0056b3;
}

.qty-cell {
    cursor: pointer;
    color: #0066cc;
    font-weight: 600;
    text-decoration: underline;
}

.qty-cell:hover {
    text-decoration: underline;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: #fff;
    width: 450px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
}

.hidden {
    display: none;
}

.filters {
    display: flex;
    align-items: flex-end;
    gap: 30px;          /* tab-like spacing */
    margin-bottom: 20px;
}

.filters div {
    display: flex;
    flex-direction: column;
}

#searchBtn {
    height: 38px;       /* align with input height */
    padding: 0 20px;
    cursor: pointer;
    background-color: #3892ff;
    color:#fefefe;
    border: none;
    border-radius: 4px;
}
